<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <script>
		async function delFile(file) {
            let url = window.location.href.split('/')
            url = `${url[0]}//${url[2]}/api/files/images/${file}?ui=true`
			const req = await fetch(url, {
				method: 'DELETE'
			})
			const res = await req.json()
			if (!res.success) alert("Failed to delete file")
			else location.reload()
		}
		function onMouseOver(id) {
			const div = document.getElementById(id)
            if (!div.contains(document.getElementById("img-" + id))) {
				const img = document.createElement("img")
				img.setAttribute("src", "/" + id)
				img.setAttribute("id", "img-" + id)
                img.setAttribute("class", "hoverImg")
				div.appendChild(img)
            }
        }
    </script>
	<link rel="stylesheet" href="/css/admin-files.css">
</head>
<body>
	<%- include('../partials/header') %>
	<h1>
		<label for="fileList">
        	List of files (higher number is newer)
    	</label>
	</h1>
    
    <ol id="fileList">
        <% if (files.length >= 1) { %>
            <% for (const file of files) { %>
                <li>
                    <div
                            class="item"
                            onmouseover="onMouseOver('<%=file%>')"
                    >
                        <a href="/<%=file%>" target="_blank"><%= file %></a>
                        <button class="deleteButton" onclick="delFile('<%=file%>')">Delete</button>
                        <div class="hoverDiv" id="<%=file%>">
                            <!--
                            This has an img in it when hovered over, it is not preloaded to speed up loading
                            -->
                        </div>
                    </div>
                </li>
            <% } %>
        <% } else { %>
            <h3>No files :/</h3>
        <% } %>
    </ol>
</body>
</html>